:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;

  --primary: #121c21;
  --secondary: #19272e;
  --bg-player: #084868;
  --text-color: #111f26;
  --spinner-color: #ffffff;
}
* {
  color: #fff !important;
}
:root,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background: var(--secondary);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3px;
}
.Toastify__toast {
  color: white;
  background-color: var(--primary) !important;
}

@media (prefers-color-scheme: light) {
  * {
    color: #000 !important;
  }

  :root {
    color: #213547;
    background-color: #ffffff;
    --primary: #e1e1e1;
    --secondary: #f0f0f0;
    --bg-player: #d2e1e8;
    --text-color: #333333;
  }

  .Toastify__toast {
    color: #000;
    background-color: var(--primary) !important;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
